.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*headings*/
.header{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.matters-header{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*compose note*/
.compose-note-input{
resize: none;
border-radius: 4px;
}
.compose-note-submit{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 110%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

/*notes*/
.note-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
.note-list-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 445px;
  margin:auto;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid gray;
}
.note-text{
text-align: left  ;
font-family: 'Times New Roman', Times, serif;
}
.note-postdate{
text-align: end;
font-style: italic;
font-size: 80%;
margin-right: 5px;
border-bottom: 1px dotted gray;
}
.like-button-And-comment-input{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*compose comment*/
.compose-comment-form{
margin-left: 10px;
margin-right: 50px;
}
.compose-comment-input{
  border-radius: 4px;
}
.compose-comment-submit{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1.5px 5px 0 rgba(0,0,0,0.19);
  margin: 3px;
}

/*comments*/
.comments-heading{
margin-top: 5px;
margin-bottom: 5px;
font-family: Georgia, 'Times New Roman', Times, serif
}
.comment-list-item{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.comments-list{
  list-style: none;
  padding: 0;
}
.comment-text{
  text-align: left  ;
  font-family: 'Times New Roman', Times, serif;
  border-top: 1px dotted gray;
  margin-top: 3px;
}
.comment-date{
  text-align: end;
  font-style: italic;
  margin-right: 5px;
  font-size: 80%;
  border-bottom: 1px dotted gray;
}

/*buttons*/
.like-button{
height: 30px;
width: 40px;
border-color: darkred;
border-radius: 30%;
background-color: rgb(192, 1, 1);
color: white;
outline: none;
}
.deleteall-button{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 110%;
}

